<!-- pagina donde vamos a mostrar las sedes con sus atributos -->

<ion-header>
  <!--LLamamos al "menu.component" donde nos comunicamos para cambiar el titulo-->
  <!--Si podemos tendriamos que cambiar que por el titulo se muestre el icono de la pagina-->
  <app-menu  [tituloMenu]="titulo"></app-menu>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <!--recooremos la colecciones de la base de datos-->
    <ion-card *ngFor="let sede of sedes">
      <ion-card-header>
        <ion-card-title>{{sede.nombre}}</ion-card-title>
        <ion-card-subtitle>{{sede.ubicacion}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       {{sede.descripcion}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
