<!-- pagina donde vamos a mostrar las sedes con sus atributos -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sedes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <!--recooremos la colecciones de la base de datos-->
    <ion-card *ngFor="let sede of sedes">
      <ion-card-header>
        <ion-card-title>{{sede.nombre}}</ion-card-title>
        <ion-card-subtitle>{{sede.ubicacion}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       {{sede.descripcion}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
